.header
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  height: 170px
  z-index: 999

.header__menuTop
  padding-top: 30px
  padding-bottom: 30px
  background-color: #000

.header__blockBurger
  display: none

.header__burger
  display: none
  width: 36px
  height: 28px

.header__menu-mobile
  display: none
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 768px
  padding: 37px 50px 51px 50px
  background-color: $menuBurgerBg
  transition: transform .3s ease-in-out
  transform: translateX(-110%)
  z-index: 1000

.header__burger--close
  margin-bottom: 30px
  transition: transform .2s ease-in
  &:active
    transform: rotate(90deg)

.header__list-mobile
  margin-bottom: auto
  flex-direction: column

.header__item-mobile
  margin-bottom: 0

.header__link
  &:hover
    outline: none
    color: $menuHover
  &:active
    color: $menuClick

.header__link-mobile
  font-weight: 600
  font-size: 24px
  line-height: 64px
  &:not(:last-child)
    margin-bottom: 30px

.header-bg-focus,
.bg-focus
  z-index: 3

.header-bg-focus:before,
.bg-focus:before
  content: ""
  position: absolute
  top: -6px
  bottom: -6px
  left: -6px
  right: -6px
  background-color: $menuClick
  z-index: -1
  opacity: 0
  transition: opacity .4s ease-in-out

.bg-focus:before
  background-color: $accordionCircle

.header-bg-focus:focus-visible
  outline: none

.header-bg-focus:focus-visible:not(:hover):before,
.bg-focus:focus-visible:not(:hover):before,
.outline-focus:focus-visible:not(:hover):before
  opacity: 1

.btn-reset
  padding: 0
  border: none
  background: transparent
  position: relative
  cursor: pointer
  transition-property: background-color, box-shadow
  transition: .2s ease-in-out

.header__menu-button
  width: 257px
  height: 60px
  border: 2px solid $accordionCircle !important
  border-radius: 90px

.header__button
  padding-left: 25px
  transition-property: background, color
  transition-timing-function: linear
  transition-duration: .2s
  background-image: url(./image/header/login.svg)
  background-size: 13px 13px
  background-repeat: no-repeat
  background-position: left 4.5px top 6px
  color: $white
  z-index: 2
  &:hover
    color: #C283F3
    background-image: url(./image/header/login-hover.svg)
    background-size: 17.5px 13px
    background-position: left 0 top 6px
    outline: none
  &:active
    color: $accordionCircle
    background-image: url(./image/header/login-active.svg)
    background-size: 17.5px 13px
    background-position: left 0 top 6px

.header__search-mobile--open
  display: none
  width: 29.45px
  height: 28.82px

.header__search-wrap
  display: none
  position: absolute
  top: 35px
  right: 49px
  align-items: center

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration
  display: none

.header__search-mobile--open.search-active
  opacity: 0

.form__active
  transform: translate(0, -50%)
  opacity: 1
  visibility: visible

.header__search-wrap.search-active
  display: flex

.header__form-btn
  margin-right: 10px
  width: 22.1px
  height: 21.61px

.header__search-btn--size
  width: 29px
  height: 29px

.header__search-input
  margin-right: 24px

.header__menu
  .nav-item
    margin-right: 46px
    font-weight: 600
    font-size: 1.125rem
    line-height: 25px

.header__menu
  .nav-link
    padding-left: 6px
    padding-right: 6px

.header__menu
  .nav-link:hover
    color: $menuHover

.header__menu
  .nav-link:active
    color: $menuClick

.header__menu
  .nav-link:focus,
  .header__link-active
    background-color: $accordionBorder
    padding-left: 6px
    padding-right: 6px
    font-weight: 600
    font-size: 1.125rem
    line-height: 25px
    color: #fff

.header__menuBottom
  background-color: $menuBottom !important

.header__dropdown
  width: 300px
  height: 300px
  margin-top: 22px !important
  padding: 40px
  border-radius: 0

.header__dropdown-color
  background-color: $menuBottom !important

.header__dropdown__li
  height: 40px

.header__dropdown__li:not(:nth-last-of-type(1))
  margin-bottom: 20px

// Реализм
.header__dropdown__li-tintoretto
  background-image: url('image/header/realism/tintoretto.png')

.header__dropdown__li-fridrih
  background-image: url('image/header/realism/fridrih.png')

.header__dropdown__li-leonardo
  background-image: url('image/header/realism/leonardo.png')

.header__dropdown__li-verroku
  background-image: url('image/header/realism/verroku.png')

// Импрессионизм
.header__dropdown__li-mone
  background-image: url('image/header/impressionism/mone.png')

.header__dropdown__li-sisley
  background-image: url('image/header/impressionism/sisley.png')

.header__dropdown__li-mane
  background-image: url('image/header/impressionism/mane.png')

.header__dropdown__li-renuar
  background-image: url('image/header/impressionism/renuar.png')

// Постимпрессионизм
.header__dropdown__li-vangog
  background-image: url('image/header/post-impressionism/van-gog.png')

.header__dropdown__li-sezan
  background-image: url('image/header/post-impressionism/sezan.png')

.header__dropdown__li-gogen
  background-image: url('image/header/post-impressionism/gogen.png')

.header__dropdown__li-siora
  background-image: url('image/header/post-impressionism/siora.png')

// Авангард
.header__dropdown__li-kandinskiy
  background-image: url('image/header/avant-garde/kandinskiy.png')

.header__dropdown__li-marinetti
  background-image: url('image/header/avant-garde/marinetti.png')

.header__dropdown__li-malevich
  background-image: url('image/header/avant-garde/malevich.png')

.header__dropdown__li-picasso
  background-image: url('image/header/avant-garde/picasso.png')

// Футуризм
.header__dropdown__li-karra
  background-image: url('image/header/futurism/karra.png')

.header__dropdown__li-pratella
  background-image: url('image/header/futurism/pratella.png')

.header__dropdown__li-severinni
  background-image: url('image/header/futurism/severinni.png')

.header__dropdown__li-balla
  background-image: url('image/header/futurism/balla.png')

.header__dropdown__li
  .dropdown-item
    display: flex
    align-items: center
    height: 100%
    padding: 0
    padding-left: 14px
    font-weight: 600
    font-size: .875rem
    line-height: 19px
    color: #fff

.header__dropdown__li
  .dropdown-item:hover
    background-color: transparent
    outline: 2px solid $accordionCircle

.header__dropdown__li
  .dropdown-item:active
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4))

.header a
  color: #fff

.header__logIn
  display: flex
  justify-content: flex-end
  position: relative
  padding-top: 8px
  padding-bottom: 8px
  .header__link
    padding-bottom: 4px
    padding-right: 6px
    font-weight: 600
    font-size: 1.125rem
    line-height: 25px
    color: #fff
  .header__link::before
    content: ""
    position: absolute
    background-color: #fff
    -webkit-mask-image: url("./image/header/login.svg")
    mask-image: url("./image/header/login.svg")
    mask-repeat: no-repeat
    top: 15px
    bottom: 0
    left: 44px
    right: 0
    text-align: rigth
  .header__link:focus
    background-color: $accordionBorder
    padding-bottom: 4px
    padding-left: 26px
    padding-right: 6px
    font-weight: 600
    font-size: 1.125rem
    line-height: 25px
    color: #fff

.header__logIn
  .header__link:hover
    color: $menuHover
  .header__link:hover::before
    background-color: $menuHover
    -webkit-mask-image: url("./image/header/login.svg")
    mask-image: url("./image/header/login.svg")

.header__logIn
  .header__link:active
    color: $menuClick
  .header__link:active::before
    background-color: $menuClick
    -webkit-mask-image: url("./image/header/login.svg")
    mask-image: url("./image/header/login.svg")

.header__menuBottom
  padding-top: 23px
  padding-bottom: 23px
  .nav-link:first-child
    padding-left: 0

.header__menu2
  .nav-item:not(:nth-last-of-type(1))
    margin-right: 80px

.header__menu2
  .nav-item
    padding-left: 6px
    padding-right: 6px
    font-weight: 400
    font-size: 1.125rem
    line-height: 25px

.header__menu2
  .nav-link:focus
    padding-left: 6px
    padding-right: 6px
    background-color: $accordionBorder
    color: #fff

.header__menu2
  .nav-link:hover
    color: $menuHover !important

.header__menu2
  .nav-link:active
    color: $menuClick !important

.header__search
  display: flex
  justify-content: flex-end
  align-self: center

.header__btnSearch
  width: 22px
  height: 22px
  margin-top: 8px
  margin-right: 9px
  border: none
  background-color: transparent
  background-image: url("./image/header/search.svg")
  background-repeat: no-repeat
  background-position: 0 0
  background-size: contain

.header__inputSearch
  width: 218px
  border: none
  border-bottom: 1px solid rgba(255, 255, 255, .85)
  background-color: transparent
  font-size: 1.125rem
  color: rgba(255, 255, 255, .85)

.header__inputSearch:focus,
.header__inputSearch:hover
  border-bottom: 1px solid $menuHover

.header__inputSearch:active
  border-bottom: 1px solid $menuClick

@media (max-width: 1420px)
  .header__menuTop
    position: relative

  .header__blockBurger
    display: block

  .header__burger
    display: block
    margin-right: auto
    cursor: pointer

  .header__menu-mobile
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start

  .header__menu-mobile.is-active-burger
    transform: none

  .header__menu,
  .header__logIn
    display: none

  .header__search-mobile--open
    display: block

  .header__menuBottom
    display: none
