.projects
  margin-bottom: 80px

.projects__desc
  margin-bottom: 30px
  font-weight: 400
  font-size: 1rem
  line-height: 32px
  a
    color: $btnHero

.projects__slide
  display: grid
  grid-template-columns: 30px auto 1.875rem
  grid-template-rows: 150px
  grid-column-gap: 45px

.projects__carousel
  display: grid
  grid-template-columns: repeat(3, 450px)
  grid-column-gap: 50px

.projects__pic
  display: grid
  place-content: center
  border: 1px solid $accordionGrey
  img
    height: 60px

.projects__btn
  align-self: center
  width: 30px
  height: 30px
  border: none
  border-radius: 50px
  background-color: $btnSlide

.projects__descr-link
  text-decoration: none
  color: $accordionCircle
  &:focus-visible
    color: $white
    background-color: $accordionCircle
  &:hover
    color: $accordionCircle
    border-bottom: 1px solid $accordionCircle
  &:active
    color: $menuClick
    border-bottom: 1px solid $menuClick
