.gallery
  height: 595px
  margin-bottom: 80px
  padding-top: 80px
  padding-bottom: 80px
  background-image: url(./image/gallery/bg.jpg)
  background-repeat: no-repeat
  background-position: 0 0
  color: $white
  .container-fluid
    height: 100%

.gallery__h2
  margin-right: 40px

.gallery__left
  display: grid
  grid-template-rows: auto 1fr
  margin-right: 40px

.gallery__filter
  margin-bottom: 10px

.gallery__select
  height: 40px
  // appearance: none
  // -moz-appearance: none
  // -webkit-appearance: none
  border: 1px solid $white
  border-radius: 6px
  background: none
  color: $white

.gallery__option
  border: 1px solid $white
  border-radius: 6px

.gallery__cb
  gap: 20px
  align-content: end
  input
    margin-right: 12px

.gallery__input-checkbox
  position: absolute
  z-index: -1
  opacity: 0
  &+label
    display: inline-flex
    align-items: center
    user-select: none
  &+label::before
    content: ''
    display: inline-block
    margin-right: 12px
    width: 12px
    height: 12px
    border: 1px solid $white
    background-position: top 2.7px left 3px
    background-repeat: no-repeat
    background-size: 4px
    transition: border-color .2s ease-in-out
  &:checked+label::before
    background-image: url('./image/gallery/checkbox-checked.svg')
    border-color: #C283F3

.gallery__input-checkbox:hover+label::before,
.gallery__input-checkbox:focus+label::before
  border-color: #C283F3

.gallery__label-checkbox
  font-weight: 400
  font-size: 16px
  color: $white
  transition: color .2s ease-in-out
  &:not(:last-child)
    margin-bottom: 13px

.gallery__input-checkbox:focus-visible+label,
.gallery__label-checkbox:hover,
.gallery__input-checkbox:checked+label
  color: #C283F3

.gallery__swiper-container
  position: relative
  padding-top: 25px
  max-width: 1150px
  overflow: hidden
  flex-direction: column-reverse
  justify-content: space-between

.gallery__swiper-flex
  display: flex

.gallery__swiper-wrapper
  width: 100%
  height: 350px
  box-sizing: content-box

.gallery__slide-wrap
  position: relative
  max-width: 350px
  &::after
    content: url('./image/gallery/lupa.svg')
    position: absolute
    max-width: 300px
    max-height: 300px
    top: 25px
    left: 25px
    right: 25px
    bottom: 25px
    display: flex
    align-items: center
    justify-content: center
    background-color: rgba(0, 0, 0, 0.5)
    opacity: 0
    transition: all .2s linear
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    box-shadow: inset 25px 25px rgba(194, 131, 243, 0.4), inset -25px -25px rgba(194, 131, 243, 0.4)
    opacity: 0
    transition: all .2s linear
  &:focus::before
    box-shadow: inset 3px 3px $menuClick, inset -3px -3px $menuClick
    opacity: 1

.gallery__slide-wrap:hover::after,
.gallery__slide-wrap:active::after,
.gallery__slide-wrap:active::before
  opacity: 1

.gallery__picture
  display: grid
  grid-template-columns: repeat(3, 350px)
  grid-gap: 50px

.gallery__slide-img
  width: 100%
  height: 100%
  object-fit: cover

.gallery__slideBtn
  display: grid
  grid-template-columns: 30px max-content 30px
  grid-template-rows: 30px
  align-content: center
  button
    border: none
    border-radius: 50px
    background: $btnGallery
    i
      color: #fff

.gallery__pages
  margin: 0 15px
  line-height: 200%

@media (max-width: 1420px)
  .gallery
    height: 560px

  .gallery__left
    display: block

  .gallery__cb
    margin-top: 105px
    gap: 0

  .gallery__picture
    grid-template-columns: repeat(2, 280px)

  .gallery__slide-img
    width: 280px
    height: 315px

  .gallery__swiper-container
    padding-top: 0
