.gallery
  height: 595px
  padding-top: 80px
  padding-bottom: 80px
  background-image: url(./image/gallery/bg.jpg)
  background-repeat: no-repeat
  background-position: 0 0
  color: $white
  .container-fluid
    height: 100%

.gallery__h2
  margin-right: 40px

.gallery__left
  display: grid
  grid-template-rows: auto 1fr
  margin-right: 40px

.gallery__filter
  margin-bottom: 10px

.gallery__select
  height: 40px
  // appearance: none
  // -moz-appearance: none
  // -webkit-appearance: none
  border: 1px solid $white
  border-radius: 6px
  background: none
  color: $white

.gallery__option
  border: 1px solid $white
  border-radius: 6px

.gallery__cb
  gap: 20px
  align-content: end
  input
    margin-right: 12px

.gallery__picture
  display: grid
  grid-template-columns: repeat(3, 350px)
  grid-gap: 50px

.gallery__slideBtn
  display: grid
  grid-template-columns: 30px max-content 30px
  grid-template-rows: 30px
  align-content: center
  button
    border: none
    border-radius: 50px
    background: $btnGallery
    i
      color: #fff

.gallery__pages
  margin: 0 15px
  line-height: 200%
