.hero
  position: relative
  color: $white

.hero__block
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  padding-top: 233px

.hero__header
  font-size: 4.5rem
  font-weight: bold
  line-height: 98px

.hero__desc
  margin-bottom: 92px
  padding-right: 90px
  font-size: 1.125rem
  font-weight: 700
  line-height: 30px

@media (max-width: 1420px)
  .hero__block
    padding-top: 205px
