.contacts
  height: 154px
  border: 1px solid $dateFoto

.contacts__block
  height: 154px
  display: grid
  grid-template-columns: 256px 909px 275px
  grid-column-gap: 80px
  align-items: center

.contacts__name
  font-weight: 600
  font-size: 1.5rem
  line-height: 32px

.contacts__address
  font-weight: 400
  font-size: 1rem
  line-height: 32px

.contacts__form
  display: flex
  flex-direction: row
  gap: 20px

.contacts__input
  width: 270px
  height: 50px
  padding: 0 24px
  border: 1px solid $baseText
  border-radius: 100px
  color: $dateFoto

.contacts__btn
  width: 329px
  height: 50px
  padding: 0 35px
  border: 1px solid $btnHero
  border-radius: 100px
  background: none
  font-weight: 700
  font-size: 1.125rem
  line-height: 25px
  color: $btnHero

.contacts__social
  margin-bottom: 6px
  font-weight: 600
  font-size: 1.5rem
  line-height: 32px

.contacts__icons
  ul
    display: flex
    flex-direction: row
    margin: 0
    padding: 0
    gap: 20px
    list-style: none
    li
      width: 40px
      height: 40px
