.contacts
  height: 154px
  border: 1px solid $dateFoto

.contacts__block
  height: 154px
  display: grid
  grid-template-columns: 256px 909px 275px
  grid-column-gap: 80px
  align-items: center

.contacts__name
  font-weight: 600
  font-size: 1.5rem
  line-height: 32px

.contacts__address
  font-weight: 400
  font-size: 1rem
  line-height: 32px

.contacts__form
  display: flex
  flex-direction: row
  gap: 20px

.contacts__input
  width: 270px
  height: 50px
  padding: 0 24px
  border: 1px solid $baseText
  border-radius: 100px
  color: $dateFoto

.contacts__input:focus,
.contacts__input:hover
  background-color: #eaeaea

.contacts__btn
  width: 329px
  height: 50px
  padding: 0 35px
  border: 1px solid $btnHero
  border-radius: 100px
  background: none
  font-weight: 700
  font-size: 1.125rem
  line-height: 25px
  color: $btnHero

.contacts__btn:hover
  color: $white
  background-color: $accordionCircle

.contacts__btn:active
  box-shadow: inset 0 0 0 3px $accordionCircleBg
  border: none
  color: $white
  background-color: $menuClick

.contacts__social
  margin-bottom: 6px
  font-weight: 600
  font-size: 1.5rem
  line-height: 32px

.contacts__icons
  ul
    display: flex
    flex-direction: row
    margin: 0
    padding: 0
    gap: 20px
    list-style: none
    li
      width: 40px
      height: 40px

.contacts__svg:hover:not(:active)
  opacity: .6

.contacts__svg:active
  img
    border-radius: 20px
    outline: 1px solid $socialIcons

@media (max-width: 1420px)
  .contacts
    height: 335px

  .contacts__block
    height: auto
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: auto
    grid-column-gap: 0

  .contacts__shop
    margin-top: 43px
    margin-bottom: 30px

  .contacts__form
    margin-bottom: 30px

@media (max-width: 1420px)
  .contacts__shop
    margin-top: 15px
    margin-bottom: 20px

  .contacts__form
    flex-wrap: wrap

  .contacts__input
    width: 323px

  .contacts__btn
    width: 317px
