.catalog
  margin-bottom: 80px

.catalog__desc
  margin-bottom: 50px

.catalog__columns
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-areas: "left rigth"

.catalog__left
  min-width: 750px

.catalog__left-name
  grid-area: left

.catalog__pic
  margin-bottom: 30px

.catalog__header
  margin-bottom: 15px
  font-size: 1.5rem
  font-weight: 600
  line-height: 32px

.catalog__date
  margin-bottom: 15px
  font-size: .75rem
  font-weight: 400
  line-height: 16px
  color: $dateFoto

.catalog__para
  font-size: 1rem
  font-weight: 400
  line-height: 32px

.catalog__rigth
  min-width: 800px

.catalog__rigth-name
  grid-area: rigth

.card
  border: none

.card-header
  padding: 41px 0
  background-color: transparent
  bs-card-spacer-y: 0
  border-radius: 0 !important
  border: none
  button
    text-decoration: none
    color: $accordionBorder
    &:hover
      color: $accordionBorder
  .btn
    padding: 0
    font-size: 1.5rem
    font-weight: 600
    line-height: 32px

.catalog__item-top
  display: flex
  border-top: 1px solid #cacaca
  border-bottom: 1px solid #cacaca
  transition: all 0.2s ease-in-out

.catalog__item:hover
  position: relative
  border-color: $accordionCircle
  z-index: 1

.catalog__item-top
  position: relative
  width: 100%
  padding-top: 33px
  padding-bottom: 28px
  justify-content: space-between
  align-items: center
  cursor: pointer

.catalog__item-title
  font-weight: 600
  font-size: 24px
  line-height: 32px
  transition: all .2s ease-in-out

.catalog__item-top:focus-within,
.catalog__item-top:focus-within .catalog__item-button
  outline: none

.catalog__item-top:focus-within .catalog__item-title
  background-color: $accordionCircle
  color: $white

.catalog__item-top:focus-within svg path,
.catalog__item-top:hover svg path,
.ui-accordion-header-active svg path
  fill: $accordionCircleBg

.catalog__item-top:focus-within svg .catalog__svg-focus,
.catalog__item-top:hover:not(:active) svg .catalog__svg-focus
  stroke: $accordionCircleBg

.catalog__item-top:active svg .catalog__svg-focus
  stroke: $accordionCircle
  stroke-width: 2

.catalog__item-top:hover
  color: $accordionCircle
  border-color: $accordionCircle

.ui-accordion-header-active,
.catalog__item-top:active
  position: relative
  color: $menuClick
  border-color: $menuClick

.ui-accordion-header-active svg
  transform: rotate(180deg)

.ui-accordion-header-active svg .catalog__svg-focus
  stroke: $accordionCircle
  stroke-width: 2

.ui-accordion-header-icon
  display: none

.btn-reset
  padding: 0
  border: none
  background: transparent
  position: relative
  cursor: pointer
  transition-property: background-color, box-shadow
  transition: .2s ease-in-out

.card-body
  padding: 25px 0

.card-body__wrap
  padding: 25px 0
  min-height: 339px
  align-items: center

.catalog__column
  display: grid
  grid-template-columns: repeat(3, 1fr)

.catalog__item-place
  margin-right: 24px
  position: relative
  width: 275px
  height: 189px
  border: 1px solid #b7b7b7
  &::before
    content: ''
    position: absolute
    top: 12px
    left: 12px
    right: 12px
    bottom: 12px
    max-width: 251px
    max-height: 165px
    background-color: #b7b7b7

.catalog__item-content
  max-width: 275px

.catalog__item-text
  margin-bottom: 5px
  font-weight: 600
  font-size: 1.5rem
  color: $baseText

.catalog__item-desc
  margin-bottom: 5px
  font-weight: 400
  line-height: 21.79px
  font-size: 1rem
  color: $baseText

.catalog__item-link
  font-weight: 600
  font-size: 1rem
  color: $accordionCircle
  transition: border .2s ease-in-out
  &:focus-visible
    color: $white
  &:hover
    color: $accordionCircle
    border-bottom: 1px solid $accordionCircle
  &:active
    color: $menuClick
    border-bottom: 1px solid $menuClick

.catalog__circle
  position: absolute
  top: 0
  bottom: 0
  right: 0
  width: 50px
  height: 50px
  border-radius: 50px
  border: 2px solid $accordionCircle
  background-color: $accordionCircleBg

@media (max-width: 1420px)
  .catalog__left
    min-width: 437px

  .catalog__rigth
    min-width: 437px

  .catalog__column
    grid-template-columns: repeat(2, 1fr)

@media (max-width: 1008px)
  .catalog__columns
    grid-template-columns: 1fr
    grid-template-areas: "rigth" "left"

  .catalog__left
    min-width: 670px

  .catalog__rigth
    min-width: 670px

@media (max-width: 687px)
  .card-body__wrap
    min-height: unset
    padding: 21px 0

  .catalog__item-place
    height: 130px
    &::before
      top: 6px
      left: 6px
      right: 6px
      bottom: 6px

  .catalog__item-text
    margin-bottom: 5px
    font-size: 1.125rem
