.footer
  height: 140px
  background-color: #000

.footer__block
  height: 140px
  display: grid
  grid-template-columns: auto auto
  justify-content: space-between
  align-content: center

.footer__socials
  ul
    display: flex
    flex-direction: row
    margin: 0
    padding: 0
    gap: 20px
    list-style: none
    li
      width: 45px
      height: 45px

.footer__icons:focus-visible:not(:active) svg path,
.footer__icons:hover svg path
  fill: $white

.footer__icons:active svg path
  fill: $accordionCircle
