.doings
  position: relative
  margin-bottom: 80px

.doings__swiper-container
  max-width: 1600px
  margin-top: 30px
  overflow: hidden

.doings-card__card
  height: 700px

.doings-card__border
  padding: 13px 50px 43px 50px
  border-left: 1px solid $dateFoto
  border-bottom: 1px solid $dateFoto
  border-right: 1px solid $dateFoto

.doings-card__info
  margin-bottom: 13px
  font-size: .75rem
  font-weight: 600
  line-height: 16px
  color: $dateFoto

.doings-card__title
  margin-bottom: 10px
  font-size: 1.5rem
  font-weight: 700
  line-height: 33px

.doings-card__text
  font-size: 1rem
  font-weight: 400
  line-height: 32px

.doings-card__grid
  display: grid
  grid-template-rows: auto auto auto 1fr
  a
    align-self: end
    color: $btnHero

.doings-card__link
  display: block
  width: 92px
  text-decoration: none
  font-weight: 400
  font-size: 16px
  line-height: 32px
  border-bottom: 1px solid $accordionCircle
  color: $accordionCircle

.doings__swiper-pagination
  display: none

.doings__swiper-button-prev,
.doings__swiper-button-next
  position: absolute
  top: 54%
  width: 50px
  height: 50px
  z-index: 9000

.doings__swiper-button-prev
  left: 135px

.doings__swiper-button-next
  right: 135px

.doings__swiper-button-prev svg,
.doings__swiper-button-next svg
  width: 100%
  height: 100%

.doings__swiper-button-prev::after,
.doings__swiper-button-next::after
  content: ''

.doings__swiper-button-next.swiper-button-disabled,
.doings__swiper-button-prev.swiper-button-disabled
  opacity: 0

.doings__swiper-button-prev:focus-visible:not(:hover):not(:active),
.doings__swiper-button-next:focus-visible:not(:hover):not(:active)
  outline: none

.doings__swiper-button-prev:focus-visible:not(:hover):not(:active) svg .doings__svg-focus,
.doings__swiper-button-next:focus-visible:not(:hover):not(:active) svg .doings__svg-focus
  outline: none
  stroke: $accordionCircle

.doings__swiper-button-prev:hover svg path,
.doings__swiper-button-next:hover svg path,
.doings__swiper-button-prev:active svg path,
.doings__swiper-button-next:active svg path
  fill: $accordionCircleBg

.doings__swiper-button-prev:hover:not(:active) svg .doings__svg-focus,
.doings__swiper-button-next:hover:not(:active) svg .doings__svg-focus
  stroke: $accordionCircleBg

.doings__swiper-button-prev:active svg .doings__svg-focus,
.doings__swiper-button-next:active svg .doings__svg-focus
  stroke: $accordionCircle

@media (max-width: 1420px)
  .doings__swiper-wrapper
    margin-bottom: 17px !important

  .doings-card__card
    height: 683px

  .doings-card__border
    padding: 14px 34px 49px 34px

  .doings-card__info
    justify-self: end

  .doings__swiper-pagination
    display: flex
    justify-content: center

  .doings__swiper-button-next,
  .doings__swiper-button-prev
    display: none

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 7.5px

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet
    width: 10px
    height: 10px

  .swiper-pagination-bullet-active
    background: #666

@media (max-width: 1008px)
  .doings__swiper-wrapper
    margin-bottom: 30px !important

@media (max-width: 687px)
  .doings__swiper-wrapper
    margin-bottom: 19px !important
